<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="db" connectionString="Server=DESKTOP-OSC7H6E\SQLEXPRESS;&#xD;&#xA;              Database=pppk1db;&#xD;&#xA;              User Id=pppk;&#xD;&#xA;              Password=pppk; " providerName="System.Data.SqlClient" />
    <add name="PPPKprojektDotNet.Properties.Settings.pppk1dbConnectionString" connectionString="Data Source=DESKTOP-OSC7H6E\SQLEXPRESS;Initial Catalog=pppk1db;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="pppk1dbEntities" connectionString="metadata=res://*/Datebase.I7.PPPKmodel.csdl|res://*/Datebase.I7.PPPKmodel.ssdl|res://*/Datebase.I7.PPPKmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OSC7H6E\SQLEXPRESS;initial catalog=pppk1db;user id=pppk;password=pppk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pppk1dbEntities1" connectionString="metadata=res://*/Datebase.I7.PPPKModel.csdl|res://*/Datebase.I7.PPPKModel.ssdl|res://*/Datebase.I7.PPPKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OSC7H6E\SQLEXPRESS;initial catalog=pppk1db;user id=pppk;password=pppk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>