<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="db"
         providerName="System.Data.SqlClient"
         connectionString="Server=DESKTOP-OSC7H6E\SQLEXPRESS;
              Database=pppk1db;
              User Id=pppk;
              Password=pppk; "/>
  </connectionStrings>
</configuration>